@using ApplicationDemo.Models;
@model Convertor;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BMI Calculator</title>
</head>
<body>
    <h1>Height Convertor</h1>
    <form method="post" asp-controller="Convert" asp-action="Index" >
        <div asp-validation-summary="All">

        </div>
        <div>
            <label> Height (In Cms)</label>
            <input type="text" asp-for="HeightInCm"/>
        </div>
        <div>
            <label> Height (In Meters)</label>
            <input type="text" asp-for="HeightInMeter" disabled/>
        </div>

        <button type="submit">  Calculate BMI</button>

    </form>



</body>
</html>